/* CSS code Import */

@import url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/glamour.css');

/* List of SVG vars */

:root {
/* User Settings */
    --svg-my-account: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/My-Account.svg');
    --svg-profiles: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Profiles.svg');
    --svg-content-social: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Content-Social.svg');
    --svg-data-privacy: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Data-Privacy.svg');
    --svg-family-center: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Family-Center.svg');
    --svg-authorized-apps: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Devices.svg');
    --svg-devices: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Authorized-Apps.svg');
    --svg-connections: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Connections.svg');
    --svg-clips: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Clips.svg');
/* Billing Settings */
    --svg-nitro: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Nitro.svg');
    --svg-server-boost: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server-Boost.svg');
    --svg-subscriptions: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Subscriptions.svg');
    --svg-gift-inventory: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Gift-Inventory.svg');
    --svg-billing: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Billing.svg');
/* App Settings */
    --svg-appearance: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Appearance.svg');
    --svg-accessibility: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Accessibility.svg');
    --svg-voice-video: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Voice-Video.svg');
    --svg-chat: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Chat.svg');
    --svg-notifications: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Notifications.svg');
    --svg-keybinds: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Keybinds.svg');
    --svg-language: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Language.svg');
    --svg-windows-settings: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Windows-Settings.svg');
    --svg-streamer-mode: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Streamer-Mode.svg');
    --svg-advanced: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Advanced.svg');
/* Vencord Settings */
    --svg-vencord: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Vencord.svg');
    --svg-plugins: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Plugins.svg');
    --svg-themes: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Themes.svg');
    --svg-updater: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Updater.svg');
    --svg-cloud: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Cloud.svg');
    --svg-backup-restore: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Backup-Restore.svg');
    --svg-vekstop: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Vesktop.svg');
/* Activity Settings */
    --svg-activity-privacy: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Activity-Privacy.svg');
    --svg-registered-games: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Registered-Games.svg');
    --svg-game-overlay: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Game-Overlay.svg');
    --svg-whats-new: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Whats-New.svg');
    --svg-merch: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Merch.svg');
    --svg-HypeSquad: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/HypeSquad.svg');
/* Developer Only */
    --svg-experiments: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Experiments.svg');
    --svg-dev-options: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Developer-Options.svg');
    --svg-hotspot-options: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Hotspot-Options.svg');
    --svg-dismiss-contents: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Dismissible-Contents.svg');
    --svg-payment-flow: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Payment-Flow-Modals.svg');
    --svg-revenue-book: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Revenue-Storybook.svg');
    --svg-currency-config: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Virtual-Currency-Config.svg');
    --svg-design-systems: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Design-Systems.svg');
    --svg-text-playground: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Text-Playground.svg');
    --svg-text-components: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Text-Components.svg');
    --svg-intl-testing: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Intl-Testing.svg');
    --svg-shop-keeper: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Shop-Keeper.svg');
    --svg-PFX-editor: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/PFX-Editor.svg');
    --svg-nameplates-tool: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Nameplates-Preview-Tool.svg');
    --svg-web-tree-tool: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Web-Setting-Tree-Tool.svg');
    --svg-logout: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Log-Out.svg');
    
/* Server Settings */
    --svg-server-profile: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Server-Profile.svg');
    --svg-server-tag: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Server-Tag.svg');
    --svg-engagement: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Engagement.svg');
    --svg-boost-perks: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Boost-Perks.svg');
/* Expression */
    --svg-emoji: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Emoji.svg');
    --svg-stickers: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Stickers.svg');
    --svg-soundboard: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Soundboard.svg');
/* People */
    --svg-members: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Members.svg');
    --svg-roles: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Roles.svg');
    --svg-invites: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Invites.svg');
    --svg-access: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Access.svg');
/* Apps */
    --svg-intergrations: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Intergrations.svg');
    --svg-app-directory: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/App-Directory.svg');
/* Moderation */
    --svg-safety-setup: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Safety-Setup.svg');
    --svg-audit-log: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Audit-Log.svg');
    --svg-bans: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Bans.svg');
    --svg-auto-mod: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/AutoMod.svg');
    --svg-enable-community: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Enable-Community.svg');
    --svg-server-template: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Server-Template.svg');
    --svg-delete-server: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Delete-Server.svg');
    --svg-onboarding: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Onboarding.svg');
    --svg-server-insights: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Server-Insights.svg');
    --svg-community-welcome: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Community-Welcome.svg');
    --svg-landing-page: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Server%20Settings/Landing-Page.svg');
/* Channel Settings */
    --svg-overview: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Channel%20Settings/Overview.svg');
    --svg-permissions: url('https://raw.githubusercontent.com/moonself/Settings-Glamour/refs/heads/main/SVGs/Channel%20Settings/Permissions.svg');
}
